div.page-home {

  material-item-content {
    width:100%;
    material-button {
      margin-right: 15px;
    }
  }
  form {
    input {
      width: 100%;
    }
  }
  span.database-title {
    font-size:1.8em;
  }
}